body {
  background: linear-gradient(to right, #283441, #2a4e73);
  font-family: Arial, sans-serif;
  position: relative;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-style: solid;
  text-align: center;
  position: absolute;
}
